
<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-large" href="/new">New</a>
  </div>
  <div class="btn-group">
    <a class="btn btn-large" href="/edit/{{selectedId}}" ng-class="{disabled: index < 0}">Edit</a>
  </div>
  <div class="btn-group">
    <a class="btn btn-large btn-danger" ng-click="delete()" ng-class="{disabled: index < 0}">Delete</a>
  </div>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <th>Title</th>
    <th>Mileage</th>
    <th>Year</th>
    <th>Price</th>
  </thead>

  <tr ng-repeat="car in cars" ng-click="select($index)" ng-class="{'info': $index == index}">
    <td>{{car.title}}</td>
    <td>{{car.mileage | mileage}}</td>
    <td>{{car.year}}</td>
    <td>{{car.price | currency}}</td> <!-- currency filter -->
    <td><img style="height: 60px; float: right;" ng-src="{{car.imgData}}"</img></td>
  </tr>
</table>

<div class="pagination center">
  <ul>
    <li ng-repeat="n in [1,pageCount] | range">
      <a href="#" ng-click="loadPage(n)">{{n}}</a>
    </li>
  </ul>
</div>
